/*
===========================================================================
Create Database and Schema
===========================================================================
Script Purpose:
    This script creates a new database named 'DataWarehouse' after checking if it already exists.
    If the database exists, it is dropped and recreated. Additionally, the script sets up three schemas
    within the database: 'bronze', 'silver', and 'gold'

WARNING:
    Running this script will drop the entire 'DataWarehouse' database if it exists.
    All data in the database will be permanently dleted. Proceed with caution
    and ensure you have proper backups before running this script.
*/

USE master;
GO

--- Drop and recreate the 'DataWarehouse' database
IF EXISTS (SELECT 1 FROM sys.databases WHERE name = 'DataWarehouse')
BEGIN
    ALTER DATABASE DataWarehouse SET SINGLE_USER WITH ROLLBACK IMMEDIATE;
    DROP DATABASE DataWarehouse;
END;
GO

--- Create the 'DataWarehouse' database
CREATE DATABASE DataWarehouse;
GO

USE [DataWarehouse]
GO
/****** Object:  Schema [bronze]    Script Date: 25/07/2025 7:40:30 pm ******/
CREATE SCHEMA [bronze]
GO
/****** Object:  Schema [gold]    Script Date: 25/07/2025 7:40:30 pm ******/
CREATE SCHEMA [gold]
GO
/****** Object:  Schema [silver]    Script Date: 25/07/2025 7:40:30 pm ******/
CREATE SCHEMA [silver]
GO
